/* FONTS */

/* Headings, CTA, Header Navigation */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Body */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --fs-xsm: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xlg: 1.5rem;
  --fs-xxlg: 2rem;
  --fs-xxxlg: 2.5rem;

  --clr-primary-intro: hsl(217, 28%, 15%);
  --clr-priamry-mainBg: hsl(218, 28%, 13%);
  --clr-primary-footerBg: hsl(216, 53%, 9%);
  --clr-primary-testBg: hsl(219, 30%, 18%);

  --clr-accent-cta-1: hsl(176, 68%, 64%);
  --clr-accent-cta-2: hsl(198, 60%, 50%);
  --clr-accent-error: hsl(0, 100%, 63%);

  --clr-neutral-100: hsl(0, 0%, 100%);
}

/* CSS RESET */

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  width: 100%;
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-secondary);
}

a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

li {
  list-style: none;
}

/* BODY STYLES */

body {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-intro);
  text-align: center;
}

/* UTILITY CLASSES */

.main--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-item:hover {
  border-bottom: 1px solid var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  transition: all 400ms ease-in-out;
}

/* Components */

.btn {
  width: 17.5rem;
  color: var(--clr-neutral-100);
  background: linear-gradient(
    135deg,
    var(--clr-accent-cta-1),
    var(--clr-accent-cta-2)
  );
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 24px;
  font-size: var(--fs-sm);
}

/* HEADER & NAV STYLES */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 1rem;
  width: 100%;
}

.header__logo {
  width: 5rem;
  align-items: center;
}

.main__nav {
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.main__nav--menu {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.main__nav--meun-item {
  margin-left: 1rem;
  align-items: center;
  padding-bottom: 2rem;
}

.main__nav--link {
  position: relative;
  font-size: var(--fs-xsm);
}

/* HERO STYLES */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-inline: 1.5rem;
  position: relative;
}

.hero__bkg {
  background-image: url('/images/bg-curvy-mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero--img {
  width: 18.75rem;
}

.hero--title {
  font-size: var(--fs-xlg);
  font-weight: var(--fw-bold);
  line-height: 2.25rem;
}

.hero--text {
  font-size: var(--fs-sm);
  line-height: 1.3125rem;
}
